body {
  margin: 0;
  box-sizing: border-box;  
}

*{
  font-family: 'Spectral', serif;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: 'Spectral', serif;
  font-family: 'Poppins', sans-serif;
}
